<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Leazy is a portal for UT Austin students where you can find ideal apartments fitting various categories, trade furniture, and sublease.">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="author" content="Madhavan Uchani">
        <meta name="author" content="Aryan Gandhi">
        <meta name="keywords" content="Leasing, UT Austin, Austin area, West Campus, Apartment, Sublease, Furniture, Student, Housing, Living, College, Bedrooms, Bathrooms, Square Feet">
        <meta property='og:title' content='Leazy - Leasing Made Easy'/>
        <meta property='og:image' content='www.leazy.org/images/titlelogo.png'/>
        <meta property='og:description' content='A portal for UT Austin students to find ideal apartments, trade furniture, and sublease.'/>
        <meta property='og:url' content='www.leazy.org'/>
        <title>Leazy - Student Leasing, Subleasing, and Furniture Trading</title>
        <link rel="icon" href="/images/titlelogo.png">
    </head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img class="logo" src="/images/logohorizontal.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/favorites.html">Favorites</a>
                </li>

                    <li class="nav-item">
                    <a class="nav-link" href="/sublet">Sublet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/furniture">Furniture</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="mailto:leazyhelp@gmail.com">Contact Us</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Share
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item socialMedia" target="_blank" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.leazy.org">
                            <div class="social">
                              <svg viewBox="0 0 64 64" width="32" height="32"><circle cx="32" cy="32" r="31" fill="#3b5998"></circle><path d="M34.1,47V33.3h4.6l0.7-5.3h-5.3v-3.4c0-1.5,0.4-2.6,2.6-2.6l2.8,0v-4.8c-0.5-0.1-2.2-0.2-4.1-0.2 c-4.1,0-6.9,2.5-6.9,7V28H24v5.3h4.6V47H34.1z" fill="white"></path></svg>
                              Facebook
                            </div>
                          </a>
    
                          <a class="dropdown-item socialMedia" target="_blank" href="https://twitter.com/intent/tweet/?text=Leazy%20-%20Student%20portal%20where%20you%20can%20find%20ideal%20apartments%2C%20trade%20furniture%2C%20and%20sublease!&url=https%3A%2F%2Fwww.leazy.org">
                            <div class="social">
                              <svg viewBox="0 0 64 64" width="32" height="32"><circle cx="32" cy="32" r="31" fill="#00aced"></circle><path d="M48,22.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6 C41.7,19.8,40,19,38.2,19c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5c-5.5-0.3-10.3-2.9-13.5-6.9c-0.6,1-0.9,2.1-0.9,3.3 c0,2.3,1.2,4.3,2.9,5.5c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1c2.9,1.9,6.4,2.9,10.1,2.9c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C46,24.5,47.1,23.4,48,22.1z" fill="white"></path></svg>
                              Twitter
                            </div>
                          </a>
    
                          <a class="dropdown-item socialMedia" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.leazy.org&amp;title=Leazy%20-%20Student%20portal%20where%20you%20can%20find%20ideal%20apartments%2C%20trade%20furniture%2C%20and%20sublease!&amp;summary=Leazy%20-%20Student%20portal%20where%20you%20can%20find%20ideal%20apartments%2C%20trade%20furniture%2C%20and%20sublease!&amp;source=https%3A%2F%2Fwww.leazy.org">
                            <div class="social">
                              <svg viewBox="0 0 64 64" width="32" height="32"><circle cx="32" cy="32" r="31" fill="#007fb1"></circle><path d="M20.4,44h5.4V26.6h-5.4V44z M23.1,18c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1 c1.7,0,3.1-1.4,3.1-3.1C26.2,19.4,24.8,18,23.1,18z M39.5,26.2c-2.6,0-4.4,1.4-5.1,2.8h-0.1v-2.4h-5.2V44h5.4v-8.6 c0-2.3,0.4-4.5,3.2-4.5c2.8,0,2.8,2.6,2.8,4.6V44H46v-9.5C46,29.8,45,26.2,39.5,26.2z" fill="white"></path></svg>
                              LinkedIn
                            </div>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item donate" target="_blank" href="http://www.google.com">
                            Buy me a coffee
                          </a>
                        </div>
                      </li>
                </ul>
            </div>
        </div>
    </nav>

    <body>
        <div class="main-content">
            <img src="/images/destroyed-house.jpg" style="max-width: 100%;">
            <div class="message-deletion">
                <h1 class="message-header"><i class="fa fa-warning"></i> Confirm Deletion</h1>
                <p class="message-content">We found the following information for this post: </p>
                <% if (data[0].Gender && data[0].UnitDescription) { %>
                    <ul class="message-content">
                        <li><b><u>Bedrooms:</b></u> <%=data[0].UnitBeds%></li>
                        <li><b><u>Bathrooms:</b></u> <%=data[0].UnitBaths%></li>
                        <li><b><u>Rent Price:</b></u> $<%=data[0].UnitPrice%>/mo</li>
                        <li><b><u>Apartment Complex:</b></u> 
                            <a href="<%=data[0].AptWebsite%>">
                                <%=data[0].ApartmentName%>
                            </a>
                        </li>
                        <li><b><u>University:</b></u> <%=data[0].University%></li>
                        <% if (data[0].Furnished === 0) { %>
                            <li><b><u>Furnished:</b></u> No</li>
                        <% } else { %>
                            <li><b><u>Furnished:</b></u> Yes</li>
                        <% } %>
                        <li><b><u>Gender of Subtenant:</b></u> <%=data[0].Gender%></li>
                        <li><b><u>Lease Term:</b></u> <%=data[0].StartDate%> - <%=data[0].EndDate%></li>
                        <li><b><u>Lease Duration:</b></u> <%=data[0].Duration%> Months</li>
                        <li><b><u>Unit Description:</b></u> <%=data[0].UnitDescription%></li>
                    </ul>
                    <button type="button" id="sublet-button" class="btn btn-danger message-btn-deletion" onclick="deleteSubletPost()">Delete Post</button>
                <% } else { %>
                    <ul class="message-content">
                        <li><b><u>Product Name:</b></u> <%=data[0].ProductName%></li>
                        <li><b><u>Product Price:</b></u> $<%=data[0].ProductPrice%></li>
                        <li><b><u>Product Description:</b></u> <%=data[0].ProductDescription%></li>
                        <li><b><u>University:</b></u> <%=data[0].University%></li>
                        <li><b><u>Date Posted:</b></u> <%= (new Date(parseInt(data[0].Date))).toLocaleDateString(); %></li>
                    </ul>
                    <button type="button" id="furniture-button" class="btn btn-danger message-btn-deletion" onclick="deleteFurniturePost()">Delete Post</button>
                <% } %>
                
            </div>
            
        </div>
    </body>

    <script src="/js/deletion.js"></script>
</html>