<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Leazy is a portal for UT Austin students where you can find ideal apartments fitting various categories, trade furniture, and sublease.">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Madhavan Uchani">
    <meta name="author" content="Aryan Gandhi">
    <meta name="keywords" content="Leasing, UT Austin, Austin area, West Campus, Apartment, Sublease, Furniture, Student, Housing, Living, College, Bedrooms, Bathrooms, Square Feet">
    <meta property='og:title' content='Leazy - Leasing Made Easy'/>
    <meta property='og:image' content='www.leazy.org/images/titlelogo.png'/>
    <meta property='og:description' content='A portal for UT Austin students to find ideal apartments, trade furniture, and sublease.'/>
    <meta property='og:url' content='www.leazy.org'/>
    <title>Leazy - Student Leasing, Subleasing, and Furniture Trading</title>
    <link rel="icon" href="/images/titlelogo.png">
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/tail.select@0.5.15/js/tail.select.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tail.select@0.5.15/css/default/tail.select-light-feather.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
          <a href="/" class="navbar-brand">
            <img class="logo" src="/images/logohorizontal.png">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/favorites.html">Favorites</a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link" href="/sublet">Sublet</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/furniture">Furniture</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="mailto:leazyhelp@gmail.com">Contact Us</a>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Share
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item socialMedia" href="#">
                        <div class="social">
                          <svg viewBox="0 0 64 64" width="32" height="32"><circle cx="32" cy="32" r="31" fill="#3b5998"></circle><path d="M34.1,47V33.3h4.6l0.7-5.3h-5.3v-3.4c0-1.5,0.4-2.6,2.6-2.6l2.8,0v-4.8c-0.5-0.1-2.2-0.2-4.1-0.2 c-4.1,0-6.9,2.5-6.9,7V28H24v5.3h4.6V47H34.1z" fill="white"></path></svg>
                          Facebook
                        </div>
                      </a>

                      <a class="dropdown-item socialMedia" href="#">
                        <div class="social">
                          <svg viewBox="0 0 64 64" width="32" height="32"><circle cx="32" cy="32" r="31" fill="#00aced"></circle><path d="M48,22.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6 C41.7,19.8,40,19,38.2,19c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5c-5.5-0.3-10.3-2.9-13.5-6.9c-0.6,1-0.9,2.1-0.9,3.3 c0,2.3,1.2,4.3,2.9,5.5c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1c2.9,1.9,6.4,2.9,10.1,2.9c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C46,24.5,47.1,23.4,48,22.1z" fill="white"></path></svg>
                          Twitter
                        </div>
                      </a>

                      <a class="dropdown-item socialMedia" href="#">
                        <div class="social">
                          <svg viewBox="0 0 64 64" width="32" height="32"><circle cx="32" cy="32" r="31" fill="#007fb1"></circle><path d="M20.4,44h5.4V26.6h-5.4V44z M23.1,18c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1 c1.7,0,3.1-1.4,3.1-3.1C26.2,19.4,24.8,18,23.1,18z M39.5,26.2c-2.6,0-4.4,1.4-5.1,2.8h-0.1v-2.4h-5.2V44h5.4v-8.6 c0-2.3,0.4-4.5,3.2-4.5c2.8,0,2.8,2.6,2.8,4.6V44H46v-9.5C46,29.8,45,26.2,39.5,26.2z" fill="white"></path></svg>
                          LinkedIn
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item donate" target="_blank" href="http://www.google.com">
                        Buy me a coffee
                      </a>
                    </div>
                  </li>

              </ul>
          </div>
        </div>
    </nav>

    <body class="display">
    
      <div class="post-toolbar">
        <div class="container">
          <div class="row search justify-content-center">
            <div class="col-md-auto">
              <select id="bedrooms-display" class="bedrooms-display light-feather" multiple>
                <option>Studio</option>
                <option>1 Bed</option>
                <option>2 Beds</option>
                <option>3 Beds</option>
                <option>4 Beds</option>
                <option>5 Beds</option>
              </select>
            </div>

          <div class="col-md-auto">
            <select id="bathrooms-display" class="bathrooms-display light-feather" multiple>
              <option>1 Bath</option>
              <option>2 Baths</option>
              <option>3 Baths</option>
              <option>4 Baths</option>
              <option>5 Baths</option>
            </select>
          </div>

          <div class="col-md-auto">
            <select id="apartments-display" class="apartments-display light-feather" multiple>
              <option data-description="(512) 477-3400">26 West</option>
              <option data-description="(512) 478-9811">The Block</option>
              <option data-description="(512) 478-9811">Crest At Pearl</option>
              <option data-description="(512) 582-0200">The Callaway House</option>
              <option data-description="(512) 478-9811">The Castilian</option>
              <option data-description="(512) 478-9811">Texan & Vintage</option>
              <option data-description="(512) 201-2713">Rio West</option>
              <option data-description="(737) 207-9400">Skyloft</option>
              <option data-description="(512) 537-4433">Twenty Two 15</option>
              <option data-description="(512) 391-1991">21 Rio</option>
              <option data-description="(737) 204-2650">The Nine at Rio</option>
              <option data-description="(512) 531-0123">The Quarters at Grayson House</option>
              <option data-description="(512) 531-0123">The Quarters at Montgomery House</option>
              <option data-description="(512) 531-0123">The Quarters at Karnes House</option>
              <option data-description="(512) 531-0123">The Quarters at Cameron House</option>
              <option data-description="(512) 531-0123">The Quarters at Nueces House</option>
              <option data-description="(512) 531-0123">The Quarters at Sterling House</option>
            </select>
              
          </div>

          <div class="col-md-auto">
            <div class="button-group">
              <button type="button" class="btn btn-light btn-lg dropdown-toggle" data-toggle="dropdown" ><span>Price</span> <span class="caret"></span></button>
                <div class="dropdown-menu menu-3 price-size-menu">
                  <div class="price-dropdown">
                  <p>
                    <label for="amount-price"><strong>Price range</strong> (per month):&nbsp;&nbsp;&nbsp; </label>
                    <input type="text" id="amount-price" readonly style="border:1000px; color:white; font-weight:bold; background-color: gray;">
                  </p>
                  
                  <div id="slider-range-price" class="price-size-slider"></div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-auto">
            <div class="button-group">
              <button type="button" class="btn btn-light btn-lg dropdown-toggle" data-toggle="dropdown" ><span>Size</span> <span class="caret"></span></button>
                <div class="dropdown-menu menu-3 price-size-menu">
                  <div class="price-dropdown">
                    <p>
                      <label for="amount-size"><strong>Size range</strong> (sqft):&nbsp;&nbsp;&nbsp; </label>
                      <input type="text" id="amount-size" readonly style="border:0; color:white; font-weight:bold; background-color: gray;">
                    </p>
                    
                    <div id="slider-range-size" class="price-size-slider"></div>
                  </div>
              </div>
            </div>
          </div>

        <div class="col-md-auto">
          <button class="btn btn-info btn-lg" id="submit" onclick="getData()">Search</button>
        </div>
  

        <div class="col-md-auto">
          <select name="options-sort" id="sort" class="sort-display light-feather">
            <% if (sortBy && sortBy.indexOf('Beds') !== -1) { %>
            <option value="beds-sort" selected>Beds (ascending)</option>
            <option value="baths-sort">Baths (ascending)</option>
            <option value="price-sort">Price (ascending)</option>
            <option value="size-sort">Size (ascending)</option>
            <% } else if (sortBy && sortBy.indexOf('Baths') !== -1) {%>
              <option value="beds-sort">Beds (ascending)</option>
              <option value="baths-sort" selected>Baths (ascending)</option>
              <option value="price-sort">Price (ascending)</option>
              <option value="size-sort">Size (ascending)</option>
            <% } else if (sortBy && sortBy.indexOf('Price') !== -1) {%>
              <option value="beds-sort">Beds (ascending)</option>
              <option value="baths-sort">Baths (ascending)</option>
              <option value="price-sort" selected>Price (ascending)</option>
              <option value="size-sort">Size (ascending)</option>
            <% } else if (sortBy && sortBy.indexOf('Size') !== -1) {%>
              <option value="beds-sort">Beds (ascending)</option>
              <option value="baths-sort">Baths (ascending)</option>
              <option value="price-sort">Price (ascending)</option>
              <option value="size-sort" selected>Size (ascending)</option>
            <% } else { %>
              <option value="beds-sort" >Beds (ascending)</option>
              <option value="baths-sort">Baths (ascending)</option>
              <option value="price-sort">Price (ascending)</option>
              <option value="size-sort" >Size (ascending)</option>
            <% } %>
          </select>

          <button type="button" class="btn btn-info btn-lg" id="init-sort" onclick="sortData()">Sort</button>
        </div>
        </div>
      </div>
    </div>
      
      <div class="explanation-info">
        <a id="process-tooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" 
        title="Choose your feature preferences from the dropdowns above, and we will display all apartment units 
          with matching criteria from various apartment complexes for the relevant lease term. 
          You then have the ability to:<br><br>
          1. Favorite your preferred units by clicking the heart icon. They will then appear on your favorites page.<br>
          2. Sort results by different categories. Note that units with unlisted prices/sizes will appear first when sorted.<br><br>
          If there are apartments not listed on this website that you would like us to include, click the 'Contact Us' link!">
          <svg style="vertical-align:middle;"width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
          <text style="vertical-align: middle;"> &nbsp;How does this process work?</text>
         </a>

         <a data-toggle="tooltip" data-placement="bottom" data-html="true" 
        title="All our information is obtained directly from respective apartment websites, and
          is updated regularly to reflect the most current lease term.
          Potential accuracy issues may arise because:<br><br>
          1. An apartment website was not updated after a unit was sold or made available for purchase.<br>
          2. There was a manual error in populating an apartment website with available units.<br><br>
          If you find any accuracy issues, please click the flag icon to notify us.">
          <svg style="vertical-align:middle;"width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
          <text style="vertical-align: middle;"> &nbsp;How accurate is this information?</text>
         </a>
      </div>

      <div class="container-cards">
            <div class="card-deck">
              <% if (!data || data.length === 0) { %>
                <div class="disclaimer-noresults">
                  <img src="/images/noresults.png">
                  <div class="disclaimer-message">
                    <h1 class="disclaimer">No results found.</h1>
                    <h2 class="disclaimer-text">Please broaden your search query or include fewer parameters in your search.</h2>
                    <br>
                    <h3 class="disclaimer-text-2">If there is an issue with our results, please click 'Contact Us' to let us know.</h3>
                  </div>

                </div>
              <% } %>
              <% for(var i=0; data && i<data.length; i++) {%>
                <div class="col-md-4">
                  <div class="complex-info">
                    <a target="_blank" class="tiptext aptName" href="<%= data[i].Website %>">
                      <%= data[i].Apartment %>
                    </a>
                  </div>
                  <div class="map-phone">
                    <i class="fa fa-map-marker tiptext" aria-hidden="true">
                      <iframe class="description" src="<%= data[i].Map %>" width="600" height="450" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0" allowfullscreen></iframe>
                    </i>
                    <text> &nbsp;|&nbsp; </text>
                    <a data-toggle="tooltip" data-placement="right" title="<%= data[i].PhoneNum %>" >
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </a>
                  </div>
                    <div class="card mb-5" style="min-height:30rem; max-height:30rem;">
                      <div class="icons">
                        <img class="card-img-top" src="<%= data[i].Image %>" alt="<%= data[i].Name %>" onclick="displayFull('<%= data[i].Image %>', '<%= data[i].Name %>')" title="Click to enlarge">
                        <div>
                          <i id="favorite" class="heart fa fa-heart-o" title="Favorite this Unit" name="<%= data[i].Name %>" apt="<%= data[i].Apartment %>" beds="<%= data[i].Beds %>" baths="<%= data[i].Baths%>"
                            data-toggle="modal" data-target="#favoriteModal" data-backdrop="false"></i>
                        </div>
                        <div>
                          <i id="flag" class="flag fa fa-flag-o" name="<%= data[i].Name %>" apt="<%= data[i].Apartment %>" beds="<%= data[i].Beds %>" baths="<%= data[i].Baths%>" title="Report as inaccurate listing"></i>
                        </div>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title"><%= data[i].Name %></h5>
                        <% if (data[i].MinPrice === 0) { %>
                          <h6>Price not listed</h6>
                        <% } %>
                        <% if (data[i].MinPrice !== 0 && (data[i].MinPrice === data[i].MaxPrice)) { %>
                          <h6><strong>$<%= data[i].MinPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></strong>/mo</h6>
                        <% } %>
                        <% if (data[i].MinPrice !== 0 && (data[i].MinPrice !== data[i].MaxPrice)) { %>
                          <h6>
                            <strong>
                              $<%= data[i].MinPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> - 
                              $<%= data[i].MaxPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                            </strong>/mo
                          </h6>
                        <% } %>
                        <p class="card-text">
                          <% if (data[i].Beds === 0) { %>
                          <strong>Studio</strong> bd &nbsp;|&nbsp; 
                          <% } %>

                          <% if (data[i].Beds !== 0) { %>
                            <strong><%= data[i].Beds %></strong> bd &nbsp;|&nbsp; 
                          <% } %>

                          <strong><%= data[i].Baths %></strong> ba &nbsp;|&nbsp;

                          <% if (data[i].MinSize === 0) { %>
                            <strong>Unlisted</strong> sqft
                          <% } %>

                          <% if (data[i].MinSize !== 0 && data[i].MinSize === data[i].MaxSize) { %>
                            <strong><%= data[i].MinSize.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></strong> sqft
                          <% } %>

                          <% if (data[i].MinSize !== 0 && data[i].MinSize !== data[i].MaxSize) { %>
                            <strong>
                              <%= data[i].MinSize.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> - 
                              <%= data[i].MaxSize.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                            </strong> sqft
                          <% } %>
                        </p>
                        
                          <% if(data[i].Waitlist !== 0){ %>
                            <span class="availabilityText" style="background-color:indianred;font-weight: normal;">
                              Waitlist
                           </span>
                         <% } %>
                         <% if(data[i].Waitlist === 0){ %>
                          <span class="availabilityText" style="background-color: rgb(23, 169, 135);font-weight: normal;">
                            ✓ Available
                         </span>
                          <% } %>
                          <span>&nbsp;</span>
                          <% if(data[i].Deposits !== 0){ %>
                            <span class="availabilityText" style="background-color: darkorange;font-weight: normal;">
                              $<%= data[i].Deposits %> Deposit
                          </span>
                        <% } %>

                        <a target="_blank" href="<%= data[i].Link %>" class="btn btn-block btn-primary">View Unit</a>
                      </div>
                    </div>
                  </div>

                  <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close" onclick="closeModal()">&times;</span>
                  
                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">
                  
                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"><%= data[i].Name %></div>
                  </div>
              <% } %> 
               
              
            </div>
        </div>

      <div class="notice">
        <div id="favoriteModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>Unit added to favorites</b></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p style="font-size:15px">Visit the favorites page to view this unit. All favorites are saved to browser cookies and local storage.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Accept & Close</button>
                    </div>
                </div>
            </div>
        </div>
      </div>


       <nav aria-label="Page navigation" id="pagination-block">
         <div class="container">
           <div class="col-md-auto">
          <% if (!(currentPage > parseInt(pages) || parseInt(pages) === 0)) { %>
            <p class="page-num-description">Showing Page <b><%=parseInt(currentPage) %></b> of <b><%=parseInt(pages)%></b></p>
            <% if (parseInt(pages) !== 1) { %> 
            <ul class="pagination pagination-circle pg-blue justify-content-center pagination-lg flex-wrap">
              <% if (currentPage == 1 && pages > 1) { %> 
                <li class="page-item disabled"><a class="page-link" href="<%= path %>page=">First</a></li>
                <li class="page-item disabled">
                  <a class="page-link" aria-label="Previous" href="<%= path %>page=<%= parseInt(currentPage) - 1 %>">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
              <% } else if (currentPage <= pages) { %>
                <li class="page-item"><a class="page-link" href="<%= path %>/page=1">First</a></li>
                <li class="page-item">
                  <a class="page-link" aria-label="Previous" href="<%= path %>page=<%= parseInt(currentPage) - 1 %>">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
              <% } %>
            
              <% if (currentPage >= 5) { %>
                <% var diff = (currentPage + 1 < pages) ? 2 : (5 - (pages - currentPage) - 1); %>
                <% var iterPage = currentPage - diff; %>
                <% var i = 0; %>
                <% while (i < 5 && (iterPage + i) <= pages) { %>
                  <% if ((iterPage + i) === parseInt(currentPage)) { %>
                    <li class="page-item active"><a class="page-link" href="<%=path %>page=<%=iterPage + i%>"><%= iterPage + i%></a></li>
                  <% } else { %>
                    <li class="page-item"><a class="page-link" href="<%=path %>page=<%=iterPage + i%>"><%= iterPage + i%></a></li>
                  <% } %>
                  <% i++ %>
                <% } %>
              <% } else { %>
                <% var iterPage = 1; %>
                <% while (iterPage <= 5 && iterPage <= pages) { %>
                  <% if (iterPage === parseInt(currentPage)) { %>
                    <li class="page-item active"><a class="page-link" href="<%=path %>page=<%=iterPage %>"><%= iterPage %></a></li>
                  <% } else { %>
                    <li class="page-item"><a class="page-link" href="<%=path %>page=<%=iterPage %>"><%= iterPage %></a></li>
                  <% } %>
                  <% iterPage++; %>
                <% } %>
              <% } %>
              
              <% if (currentPage < pages) { %>
                <li class="page-item">
                  <a class="page-link" aria-label="Next" href="<%= path %>page=<%= parseInt(currentPage) + 1 %>">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="<%= path %>page=<%= parseInt(pages) %>">Last</a></li>
              <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link" aria-label="Next" href="<%= path %>page=<%= parseInt(currentPage) + 1 %>">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
  
                <li class="page-item disabled"><a class="page-link" href="<%= path %>page=<%= parseInt(pages) %>">Last</a></li>
              <% } %>
              
            </ul>
  
            <% } %>
          <% } %>
        </div>
         </div>
        
      </nav>

    </body>

    <footer class="page-footer">
      <div class="container footer">
        <div class="footer-copyright col-md-6">
          <img class="footer-logo" src="images/logofooter.png">
          <div class="copyright">
            <span style="font-family:Arial, Helvetica, sans-serif"> &nbsp;©</span>
            <text>2020</text>
          </div>
        </div>
        <div class="col-md-6 privacy">
          <a href="/privacy" target="_blank"> Privacy Policy</a>
        </div>
      </div>
    
    </footer>

    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

    <script src="/js/display.js"></script>
    
</html>