<!DOCTYPE html>
<html lang="en-US">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <body>

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="button-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span>Beds</span> <span class="caret"></span></button>
              <ul class="dropdown-menu menu-1">
                <li><a href="#" class="small" data-value="option1-1" tabIndex="-1"><input name="beds" type="checkbox"/>&nbsp;Any</a></li>
                <li><a href="#" class="small" data-value="option2-1" tabIndex="-1"><input name="beds" type="checkbox"/>&nbsp;1</a></li>
                <li><a href="#" class="small" data-value="option3-1" tabIndex="-1"><input name="beds" type="checkbox"/>&nbsp;2</a></li>
                <li><a href="#" class="small" data-value="option4-1" tabIndex="-1"><input name="beds" type="checkbox"/>&nbsp;3</a></li>
                <li><a href="#" class="small" data-value="option5-1" tabIndex="-1"><input name="beds" type="checkbox"/>&nbsp;4</a></li>
                <li><a href="#" class="small" data-value="option6-1" tabIndex="-1"><input name="beds" type="checkbox"/>&nbsp;5</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="button-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span>Baths</span> <span class="caret"></span></button>
              <ul class="dropdown-menu menu-2">
                <li><a href="#" class="small" data-value="option1-2" tabIndex="-1"><input name="baths" type="checkbox"/>&nbsp;Any</a></li>
                <li><a href="#" class="small" data-value="option2-2" tabIndex="-1"><input name="baths" type="checkbox"/>&nbsp;1</a></li>
                <li><a href="#" class="small" data-value="option3-2" tabIndex="-1"><input name="baths" type="checkbox"/>&nbsp;2</a></li>
                <li><a href="#" class="small" data-value="option4-2" tabIndex="-1"><input name="baths" type="checkbox"/>&nbsp;3</a></li>
                <li><a href="#" class="small" data-value="option5-2" tabIndex="-1"><input name="baths" type="checkbox"/>&nbsp;4</a></li>
                <li><a href="#" class="small" data-value="option6-2" tabIndex="-1"><input name="baths" type="checkbox"/>&nbsp;5</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="button-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span>Price</span> <span class="caret"></span></button>
              <ul class="dropdown-menu menu-3">
                <li><a href="#" class="small" data-value="option1-3" tabIndex="-1"><input name="prices" type="checkbox"/>&nbsp;Any</a></li>
                <li><a href="#" class="small" data-value="option2-3" tabIndex="-1"><input name="prices" type="checkbox"/>&nbsp;1</a></li>
                <li><a href="#" class="small" data-value="option3-3" tabIndex="-1"><input name="prices" type="checkbox"/>&nbsp;2</a></li>
                <li><a href="#" class="small" data-value="option4-3" tabIndex="-1"><input name="prices" type="checkbox"/>&nbsp;3</a></li>
                <li><a href="#" class="small" data-value="option5-3" tabIndex="-1"><input name="prices" type="checkbox"/>&nbsp;4</a></li>
                <li><a href="#" class="small" data-value="option6-3" tabIndex="-1"><input name="prices" type="checkbox"/>&nbsp;5</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="button-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span>Size</span> <span class="caret"></span></button>
              <ul class="dropdown-menu menu-4">
                <li><a href="#" class="small" data-value="option1-4" tabIndex="-1"><input name="sizes" type="checkbox"/>&nbsp;Any</a></li>
                <li><a href="#" class="small" data-value="option2-4" tabIndex="-1"><input name="sizes" type="checkbox"/>&nbsp;1</a></li>
                <li><a href="#" class="small" data-value="option3-4" tabIndex="-1"><input name="sizes" type="checkbox"/>&nbsp;2</a></li>
                <li><a href="#" class="small" data-value="option4-4" tabIndex="-1"><input name="sizes" type="checkbox"/>&nbsp;3</a></li>
                <li><a href="#" class="small" data-value="option5-4" tabIndex="-1"><input name="sizes" type="checkbox"/>&nbsp;4</a></li>
                <li><a href="#" class="small" data-value="option6-4" tabIndex="-1"><input name="sizes" type="checkbox"/>&nbsp;5</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="button-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span>Apartment Name</span> <span class="caret"></span></button>
              <ul class="dropdown-menu menu-5">
                <li><a href="#" class="small" data-value="option1-5" tabIndex="-1"><input name="names" type="checkbox"/>&nbsp;Any</a></li>
                <li><a href="#" class="small" data-value="option2-5" tabIndex="-1"><input name="names" type="checkbox"/>&nbsp;21rio</a></li>
                <li><a href="#" class="small" data-value="option3-5" tabIndex="-1"><input name="names" type="checkbox"/>&nbsp;2</a></li>
                <li><a href="#" class="small" data-value="option4-5" tabIndex="-1"><input name="names" type="checkbox"/>&nbsp;3</a></li>
                <li><a href="#" class="small" data-value="option5-5" tabIndex="-1"><input name="names" type="checkbox"/>&nbsp;4</a></li>
                <li><a href="#" class="small" data-value="option6-5" tabIndex="-1"><input name="names" type="checkbox"/>&nbsp;5</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button id="submit" onclick="getData()">Search</button>
      </div>


      <div class="container-cards">
            <div class="card-deck">
              <% for(var i=0; i<data.length; i++) {%>
                <div class="col-md-4">
                    <div class="card mb-5" style="min-height:30rem; max-height:30rem;">
                      <img class="card-img-top" src="<%= data[i].Image %>" alt="<%= data[i].Name %>" onclick="displayFull()">
                      <div class="card-body">
                        <h5 class="card-title"><%= data[i].Name %></h5>
                        <% if (data[i].Price === '') { %>
                          <h6>Price not listed</h6>
                        <% } %>
                        <% if (data[i].Price !== '') { %>
                          <h6><strong><%= data[i].Price %></strong>/mo</h6>
                        <% } %>
                        <p class="card-text"><strong><%= data[i].Beds %></strong> bd &nbsp;|&nbsp; 
                          <strong><%= data[i].Baths %></strong> ba &nbsp;|&nbsp; <strong><%= data[i].Size %></strong> sqft</p>
                        
                          <% if(data[i].Waitlist !== 0){ %>
                            <span class="availabilityText" style="background-color:indianred;font-weight: normal;">
                              Waitlist
                           </span>
                         <% } %>
                         <% if(data[i].Waitlist === 0){ %>
                          <span class="availabilityText" style="background-color: rgb(23, 169, 135);font-weight: normal;">
                            ✓ Available
                         </span>
                          <% } %>
                          <span>&nbsp;</span>
                          <% if(data[i].Deposits !== 0){ %>
                            <span class="availabilityText" style="background-color: darkorange;font-weight: normal;">
                              $<%= data[i].Deposits %> Deposit
                          </span>
                        <% } %>

                        <a href="<%= data[i].Link %>" class="btn btn-block btn-primary">View Unit</a>
                      </div>
                    </div>
                  </div>

                  <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close" onclick="closeModal()">&times;</span>
                  
                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">
                  
                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"><%= data[i].Name %></div>
                  </div>
              <% } %> 
               
              
            </div>
        </div>
    </body>
    <script>
      function getData() {
  var beds = [];
  var baths = [];
  var prices = [];
  var sizes = [];
  var names = [];
  $("input:checkbox[name=beds]:checked").each(function(){
    beds.push($(this).parent().text().trim());
});

$("input:checkbox[name=baths]:checked").each(function(){
    baths.push($(this).parent().text().trim());
});

$("input:checkbox[name=prices]:checked").each(function(){
    prices.push($(this).parent().text().trim());
});

$("input:checkbox[name=sizes]:checked").each(function(){
    sizes.push($(this).parent().text().trim());
});

$("input:checkbox[name=names]:checked").each(function(){
    names.push($(this).parent().text().trim());
});

var url = assembleURL(beds, baths, prices, sizes, names);

  $.ajax({
    url: url,
    type: 'GET',
    dataType: 'json',
    success: function(res) {
    }
});

window.location.href = url;
}

function assembleURL(beds, baths, prices, sizes, names) {
  var bedData = "[";
  var bathData = "[";
  var priceData = "[";
  var sizeData = "[";
  var nameData = "[";

  for (let i = 0; i < beds.length; ++i) {
    bedData += beds[i];
    if (i !== (beds.length-1)){
      bedData += ',';
    }
  }

  for (let i = 0; i < baths.length; ++i) {
    bathData += baths[i];
    if (i !== (baths.length-1)){
      bathData += ',';
    }
  }

  for (let i = 0; i < prices.length; ++i) {
    priceData += prices[i];
    if (i !== (prices.length-1)){
      priceData += ',';
    }
  }

  for (let i = 0; i < sizes.length; ++i) {
    sizeData += sizes[i];
    if (i !== (sizes.length-1)){
      sizeData += ',';
    }
  }

  for (let i = 0; i < names.length; ++i) {
    nameData += "'" + names[i] + "'";
    if (i !== (names.length-1)){
      nameData += ',';
    }
  }

  bedData += "]";
  bathData += "]";
  priceData += "]";
  sizeData += "]";
  nameData += "]";

  var url = "http://localhost:8080/search/beds=" + bedData
   + "/baths=" + bathData + "/price=" + priceData + "/size=" + sizeData + "/aptName=" + nameData;

  return url;
}
    </script>

    <script>
      function displayFull() {
      var modal = document.getElementById("myModal");
      var modalImg = document.getElementById("img01");

      window.addEventListener('click',function(){
          if (event.target === modal && event.target !== modalImg) {
          modal.style.display = "none";
        }
      });
      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementsByClassName("card-img-top")[0];

      var captionText = document.getElementById("caption");
      
      modal.style.display = "block";
      modalImg.src = img.src;
      captionText.innerHTML = img.alt;
    }

    function closeModal() {
      // When the user clicks on <span> (x), close the modal
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }
    </script>
    
</html>