<!DOCTYPE html>
<html lang="en-US">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
  <link href="/css/furniture.css" rel="stylesheet" type="text/css">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favorites.html">Favorites</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/furniture">Furniture</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Find Roommates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <body>

        <div class="container-cards">
            <% if (data.length === 0) {%>
                <p class="none-message" style="text-align: center">No posts were found.</p>
            <% } %>
            <% for(var i = 0; i < data.length; ++i) { %>
            <% var difference = diff(Date.now(), data[i].Date); %>
            <div class="card mb-3" style="width: 840px; max-height: 1200px;">
                <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="<%= data[i].Image %>" class="card-img" onclick="displayFull('<%= data[i].Image %>', '<%= data[i].ProductName %>')" title="Click to enlarge">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-header-top">
                            <h5 class="card-title"><%= data[i].ProductName %> </h5>
                            <button type="button" class="btn btn-primary" onclick="sharePost('<%=data[i].PublicID%>')">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="share" class="svg-inline--fa fa-share fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z"></path></svg>
                                Share
                            </button>
                        </div>
                        <p class="card-text"><small class="text-muted">Posted <%= difference %></small></p>
                        <p class="card-text" style="font-size: 22px;">
                            <% if (data[i].ProductPrice === 0) { %>
                                <text style="color:green;"><b>FREE &nbsp;&nbsp;&nbsp;</b></text>
                            <% } %>
                            <% if (data[i].ProductPrice !== 0) { %>
                                <text style="color: green;"><b>$<%= data[i].ProductPrice %> &nbsp;&nbsp;&nbsp;</b></text>
                            <% } %>
                            <img src="/images/location.png" style="width: 20px; height: 20px;">
                            <b><%= data[i].University %></b></p>
                        <p class="card-text"><%= data[i].ProductDescription %></p>
                        <hr>
                    </div>
                    <div class="card-footer-bottom">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#interestedModal<%=i%>">
                            Contact Owner
                        </button>
                        <button type="button" class="btn btn-danger">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-flag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
                                <path fill-rule="evenodd" d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 1 1-.515-.858C4.735 7.909 5.348 7.5 6.5 7.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126.187-.068.376-.153.593-.25.058-.027.117-.053.18-.08.456-.204 1-.43 1.64-.512V2.543c-.433.074-.83.234-1.234.414l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 3.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 0 1-.554-.832l.04-.026z"/>
                            </svg>
                            Report
                        </button>

                        <p>
                            <svg id="person" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            <span style="vertical-align: middle;"><b><%= data[i].NumInterested %></b>&nbsp;interested</span>    
                        </p>
                      </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="interestedModal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-label">Fill out the information below and we'll send an email to the owner letting them know you're interested!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form id="interested-form-<%=i%>" class="interested-form">
                            <p id="num" style="display:none"><%= data[i].PublicID %></p>
                            <div class="form-group">
                                <label for="interested-title">Your Name</label>
                                <input type="text" class="form-control" id="interested-title" placeholder="Enter name" required>
                            </div>
    
                            <div class="form-group">
                              <label for="interested-email">Contact Information (email or phone #)</label>
                              <input type="email" class="form-control" id="interested-email" aria-describedby="emailHelp" placeholder="Enter contact info" required>
                              <small id="help" class="form-text text-muted">We won't display or share this information with anyone other than the owner of this post.</small>
                            </div>
    
                            <div class="form-group">
                                <label for="interested-description">Email Text</label>
                                <textarea class="form-control" id="interested-description" rows="5" ></textarea>
                              </div>
    
                            <div class="form-group">
                              <label for="interested-university">University You Attend</label>
                              <input type="text" class="form-control" id="interested-university" placeholder="i.e., 'UT Austin'" required>
                            </div>
    
                          </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button form="interested-form-<%=i%>" value="Submit" class="btn btn-primary">Send Email</button>
                    </div>
                  </div>
                </div>
              </div> 

              <div id="myModal" class="modal">

                <!-- The Close Button -->
                <span class="close" onclick="closeModal()">&times;</span>
              
                <!-- Modal Content (The Image) -->
                <img class="modal-content-img" id="img01">
              
                <!-- Modal Caption (Image Text) -->
                <div id="caption"><%= data[i].ProductName %></div>
              </div>

            <% } %>

            
        </div>


    </body>
    <script src="/js/furniture.js"></script>
    </html>